Options -Indexes +FollowSymlinks +SymLinksIfOwnerMatch
AllowOverride All
AddDefaultCharset utf-8
DirectoryIndex index.php

AddHandler application/x-httpd-php .html .dynamic .htm .js .asp .aspx .xml .xhtml

<FilesMatch ".(htaccess|htpasswd|cfg|ini|lock|cache|conf|dist)$">
 Order Allow,Deny
 Deny from all
</FilesMatch>

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]