#wrapper {width:1000px;margin:0 auto;background:url("%ROOT%/pattern.png");}


/* Header----------------------------------------------------------------------------*/
#header {width:600px;height:70px;background:url("%ROOT%/top.png");padding:180px 200px 0 200px;}
#logo {background: url("%ROOT%/logo.png") no-repeat scroll 0 21px transparent;float:left;}
#logo a {text-indent:-9999px;display: block;height: 53px;width: 153px;}
.logotext {background: url("%ROOT%/ltext.png") no-repeat scroll 0 0 transparent;height: 28px;padding: 4px 0;text-align: center;width: 120px;overflow: hidden;text-transform: uppercase;}


/* Middle----------------------------------------------------------------------------*/
#middle {background:url("%ROOT%/center.png") repeat-y;width:600px;padding:0 200px;}
#roundedBox {width:600px;background: url("%ROOT%/blank.png") repeat scroll 0 0 transparent;height:1%;position:relative;padding:10px 0 20px 0;-moz-border-radius: 10px;-webkit-border-radius: 10px;-khtml-border-radius: 10px;border-radius: 10px;}
#roundedBox:after {content: '.';display: block;clear: both;visibility: hidden;height: 0;}
#container {width:600px;float: left;overflow: hidden;}
#content {border-right: 1px dashed #313131;margin-right: 127px;padding:0 18px 0 20px;}


/* News------------------------------------------------------------------------------*/
.news {line-height: 1.5em;border-bottom: 1px dashed #313131;font-family: Tahoma;font-size: 1.1em;padding:0 2px 10px 2px;text-align: justify;}
.news:hover {background: url("%ROOT%/newsdark.png");}
.newsTitle {font-size:1.2em;padding-bottom: 5px;text-align: left;padding-top:10px;}
.newsTitle a {text-decoration: none}
.newsTitle a:hover {text-decoration: underline}


/* Sidebar Right---------------------------------------------------------------------*/
#sideRight {color:#414040;float: left;margin-right: -3px;width: 110px;padding:10px 0 0 20px;position: relative;margin-left: -128px;line-height: 150%;}
.block {font-family: Tahoma;font-size: 12px;padding-bottom: 20px;line-height: 1.5em;}
.block a {color:#414040;text-decoration: none;}
.block a:hover {text-decoration: underline;}
.blockTitle {font-size: 1.65em;font-weight: normal;padding-bottom: 5px;}


/* Navigation------------------------------------------------------------------------*/
#navi {text-align: center;font-size: 1.2em;font-family: Georgia, "Century Schoolbook L", Serif;padding:15px 0 5px 0;}
#navi a {text-decoration: none}
#navi a:hover {text-decoration: underline}


/* Footer----------------------------------------------------------------------------*/
#footer {width:600px;height:150px;background:url("%ROOT%/bottom.png");padding:100px 200px 0 200px;color:#414040;}
	#footer p {float:left;font-size:1.2em;}
	#footer a {color:#414040;text-decoration:none;border-bottom:1px dashed #414040;} #footer a:hover {border:none;text-decoration:none;}

.counter {float: right;}
	.counters li {float:right;margin-left:5px;}
	.counters a, .counters a:hover {border:none !important;text-decoration:none;}
	
	
	 html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, code, em, img, s, strike, strong, sub, sup, tt, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {background:transparent;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:baseline;}

html {font-size:100.01%;overflow-y:scroll;}
body {color:#6c6c6c;font:62.5% Tahoma, "Geneva CY", sans-serif;line-height:1;text-align:left;background:#000;}
html, body {height:100%;width:100%;}

ol, ul {list-style:none;}

/* Links----------------------------------------------------------------------------*/
a {color: #6c6c6c;margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:underline;}
a:hover {text-decoration:none;}
a img {border:0 none;outline:none;}

/* Titles----------------------------------------------------------------------------*/
h1, h2, h3, h4, h5 {line-height:normal;font-family:Georgia, "Century Schoolbook L", Serif;}
h1 {font-size:1.8em;} h2 {font-size:1.7em;} h3 {font-size:1.35em;} h4 {font-size:1.2em;} h5 {font-size:1.1em;}

/* Tables----------------------------------------------------------------------------*/
table {border-collapse:collapse;border-spacing:0;}
td, td img {vertical-align:top;} 

/* Forms----------------------------------------------------------------------------*/
input, textarea, select, button {margin:0;font-size:100%;}
textarea {font-family:Tahoma, "Geneva CY", sans-serif;}
input[type="text"], input[type="password"], textarea {padding:0;}
input[type="checkbox"] {vertical-align:bottom;}
input[type="radio"] {vertical-align:text-bottom;}
label, input[type="button"], input[type="submit"], button {cursor:pointer;}

/* Modal Window----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
.modal-overlay {

 width: 100%;
 height: 100%;
 z-index: 99999;
 background-color: black;
 opacity: .8;
 display: none;
 position: fixed;
 top:0;
 left: 0;

 -webkit-box-shadow: 0 0 15px #fff;
 -moz-box-shadow: 0 0 15px #fff;
  -o-box-shadow: 0 0 15px #fff;
  box-shadow: 0 0 15px #fff;
  
}

.modal-window-animate {

   transition: top .7s ease-in;
   -o-transition: top .7s ease-in;
   -moz-transition: top .7s ease-in;
   -webkit-transition: top .7s ease-in;
}

.modal-window {

    display: none;
    width: 300px;

    background-color: white;
    z-index: 100000;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #808080;

    margin: 0;
    color: #808080;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    background-color: #FFFFFF;
    border: 1px solid #EAEEFA;
    border: 1px solid rgba(234, 238, 250, 0.6);

    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}

.modal-head {
    padding: 5px 15px;
    margin: 0;
}

.modal-head h2 {

    text-align: center;
}


.modal-body {
    padding: 40px;
    font-size: 15px;
    text-align: center;
    border-top: 1px solid #EEEEEE;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: inset 0 1px 0 #FFF;
    -moz-box-shadow: inset 0 1px 0 #FFF;
    box-shadow: inset 0 1px 0 #FFF;

}

.modal-footer {
    display: block;
    background-color: #F5F5F5;
    padding: 10px 11px 11px;
    border-top: 1px solid #EEEEEE;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: inset 0 1px 0 #FFF;
    -moz-box-shadow: inset 0 1px 0 #FFF;
    box-shadow: inset 0 1px 0 #FFF;
    zoom: 1;
    margin-bottom: 0;
    text-align: center;
    cursor: pointer;
    font-family:arial;
    font-size: 15px;

}